.project {
    width: 100vw;
    background: white;
    /* background-color: white; */
    padding-top: 4vw;
    margin-bottom: -4vw;
    padding-left: 14vw;
    /* z-index: 2; */
    height: 43vw;
    transition: margin-bottom 500ms;
    scroll-snap-align: center;
}

.project.top {
    margin-top: 90vh;
    padding-top: 7vh;
}

.project.bottom {
    height: 50vw;
}

.tall {
    margin-bottom: 6vw !important;
}

.project-text {
    position: absolute;
    z-index: 2;
    /* margin-left: 42vw; */
    margin-top: 13vh;
    padding-left: 6vw;
}

.project-img {
    width: 67vw;
    margin-left: 6vw;
}

.project-img > img {
    width: 100%;
}

.project-animbox {
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 73vw;
    transform: translateX(0);
    transition: transform 1s;
}

.project-animbox.animate {
    transform: translateX(37vw) !important;
}

.project-tag {
    transform: rotate(90deg);
    position: absolute;
    z-index: 2;
    margin-top: 8vw;
    margin-left: -2vw;
    width: 7vw;
}

.project-title {
    font-family: 'Lora';
    font-weight: bold;
    font-size: 6vw;
    /* padding-left: 4vw; */
    width: 20vw;
    line-height: 1.2;
    margin-bottom: 1vw;
}

.project-text:hover {
    cursor: pointer;
    opacity: .7;
}

.project-subtitle {
    font-family: 'Lora';
    font-style: italic;
    white-space: nowrap;
    /* align-self: flex-end; */
    margin-bottom: -4vw;
    /* width: 0; */
}

.project-description {
    margin-top: 6vw;
    margin-left: 37vw;
    width: 25vw;
    font-size: 15px;
    opacity: 0;
    transition: opacity 500ms;
}

.project-description.animate {
    opacity: 1;
    transition-delay: 700ms !important;
}
.masking {
    position: absolute;
    clip: rect(0px, 85vw,30vw,0px);
    transition: clip 500ms;
    margin-left: 5vw;
    z-index: 2;
}

.masking.expand {
    clip: rect(0px, 34vw,43vw,0px) !important;
}
